<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World!</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/quasar@2.16.4/dist/quasar.prod.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="public/index.css" />
  </head>
  <body class="q-pa-xl" id="app">
    <div class="row">
      <input
        class="col-2"
        type="file"
        id="photoFile"
        multiple
        accept="image/*"
      />
      <button class="col-2" @click="submitPhoto">submit</button>
      <q-space></q-space>
      <q-input class="col-5" dense style="height: 27px" v-model="fileKeys">
        <template v-slot:append>
          <q-btn round icon="search" @click="searchFile"> </q-btn>
        </template>
      </q-input>
    </div>
    <div class="q-pa-md" style="height: 200px">
      <!-- {{renderList}} -->
      <q-list separator dense>
        <q-item
          v-if="pathList.length>0"
          class="sectionHover"
          @click="returnLastFolder"
          clickable
        >
          <q-item-section avatar
            ><q-icon name="folder"></q-icon
          ></q-item-section>
          <q-item-section>..</q-item-section>
        </q-item>
        <q-item
          @click="processItemClick(item)"
          @contextmenu="handleContextMenu(item)"
          class="sectionHover"
          clickable
          v-ripple
          v-for="(item,index) in renderList"
          :key="index"
        >
          <q-item-section avatar
            ><q-icon :name="item.icon"></q-icon
          ></q-item-section>
          <q-item-section>{{ item.name }}</q-item-section>
        </q-item>
      </q-list>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
      integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.16.4/dist/quasar.umd.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.16.4/dist/icon-set/svg-material-icons.umd.prod.js"></script>
  </body>

  <script>
    const { createApp } = Vue
    const port = 3002
    const app = createApp({
      data() {
        return {
          dirList: [],
          fileList: [],
          renderList: [],
          pathList: [],
          fileKeys: ''
        }
      },
      methods: {
        submitPhoto(e, file) {
          console.log(file)
          if (file == undefined) {
            file = document.querySelector('#photoFile').files
          }
          const formData = new FormData()
          const pathList = this.pathList
          Array.from(file).forEach(e => formData.append('photos', e, encodeURIComponent(e.name)))
          fetch(
            `http://127.0.0.1:${port}/upload?pathList=${JSON.stringify(
              pathList
            )}`,
            {
              method: 'POST',
              body: formData
            }
          )
            .then(res => {
              res.json()
            })
            .then(data => this.getDirStructure())
        },
        getDirStructure() {
          const pathList = JSON.stringify(this.pathList)
          fetch(
            `http://127.0.0.1:${port}/getDirStructure?pathList=${pathList}`,
            {
              method: 'GET'
            }
          )
            .then(res => {
              return res.json()
            })
            .then(data => this.processFileAndDirData(data))
        },
        processFileAndDirData(datas) {
          this.dirList = []
          this.fileList = []
          datas.forEach(data => {
            if (data.isDir) {
              this.dirList.push(data)
            } else {
              this.fileList.push(data)
            }
          })
          this.setRenderList()
        },
        returnLastFolder() {
          this.pathList.pop()
          this.getDirStructure()
        },
        setRenderList() {
          this.renderList = []
          this.renderList = [...this.dirList, ...this.fileList]
        },
        downloadByName(name) {
          const pathList = this.pathList
          fetch(
            `http://127.0.0.1:${port}/downloadFile?name=${name}&pathList=${JSON.stringify(
              pathList
            )}`,
            {
              method: 'GET'
            }
          )
            .then(res => {
              console.log(res)
              return res.blob()
            })
            .then(blob => {
              saveAs(blob, name)
            })
        },
        processItemClick(item) {
          if (item.isDir) {
            this.pathList.push(item.name)
            this.getDirStructure()
          } else {
            this.downloadByName(item.name)
          }
        },
        dragAndDropEventInit() {
          window.addEventListener('drop', e => {
            event.preventDefault()
            this.submitPhoto(event, e.dataTransfer.files)
          })
          window.addEventListener('dragover', event => {
            event.preventDefault()
            console.log('dragovering')
          })
        },
        handleContextMenu(item) {
          const files = []
          files.push(item)
          window.fileProcessAPI.selectedFiles(
            JSON.stringify(this.pathList),
            JSON.stringify(files)
          )
        },
        initIpcListener() {
          window.fileProcessAPI.onReloadDir(() => {
            console.log('reloading')
            this.getDirStructure()
          })
        },
        searchFile() {
          fetch(
            `http:127.0.0.1:${port}/searchFile?fileKeys=${this.fileKeys}&pathList=${JSON.stringify(this.pathList)}`
          )
            .then(res => {
              return res.json()
            })
            .then(data => {
              data.forEach(file =>{
              })
            })
        }
      },
      mounted() {
        Quasar.useQuasar().dark.set(true)
        this.dragAndDropEventInit()
        this.initIpcListener()
        this.getDirStructure()
      }
    })
    app.use(Quasar)
    app.mount('#app')
  </script>
</html>
